@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textJS {
  font-family: Josefin+Sans;
  font-weight: 900;

  background: linear-gradient(135deg, #fff, #1B1A55);
  /* Your gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fontJS-subheading {
  font-family: Josefin+Sans;
  font-weight: 600;
}

.roboto {
  font-family: Roboto;
}

.heroBg {
  background: linear-gradient(-45deg, #1B1A55 5%, #1B1A55 20%, #000 100%);
}

.aboutus-bg {
  background: linear-gradient(225deg, #1B1A55 5%, #1B1A55 15%, #000 100%);
}